:root{
    --margin-form:5%;
}

main{
    background-color: white;
    margin: 2%;

    
    min-height: 80vh;

    box-shadow: 0px 1vh 0px 0px var(--black-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius);

}

form{
    background-color: var(--second-color);
    border: 10px var(--black-color)  double;
    width: 50%;
    min-height: 70vh;

    margin-top: var(--margin-form);
    margin-bottom: var(--margin-form);


    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    font-weight: var(--font-weight-large);
    font-size: 3em;
}

.question-row-container {
    display: flex;
    flex-direction: row;

    margin-top: var(--margin-form);
    margin-left:var(--margin-form);
    width: 100%;
}

.question-container{
    margin-left: 1%;
    margin-right: 1%;
}


.question-container > p, .question-container > label , .question-container > div > label {
    font-weight: var(--font-weight-large);
    margin-bottom: 0;
}




input{
    margin-top: 2%;
    border: 5px solid var(--black-color);

    width:fit-content;
    height: 5vh;

    background-color: var(--second-color);

    font-size: var(--font-size-large);
}


.question-container {
    position: relative;
}


.question-container > span {
    position: absolute;
    left: 0;
    top: calc(var(--font-size-large));
    left: calc(1em);
    
    background-color: var(--second-color);
    transition: (0,0);
    transition: transform 120ms ease-in;

    pointer-events: none;

    font-weight: var(--font-weight-large);

}


.question-container input:focus-within + span,.question-container input:valid + span{
    transform: translate(-0.5rem, -120%) scale(.95);
    color: #ffffff;

}


